<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>簡易言語学習サイト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="menu.css" rel="stylesheet">
  </head>
  <body>
    <!-- ヘッダ -->
    <div class="navbar sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">簡易言語学習サイト</a>
        <div class="dropdown">
          <button class="btn study-profile dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @userid %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container pt-2">
      <!-- お知らせ -->
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">プログラム言語の学習をしよう！</h4>
        <p>言語はjava, ruby, python, go, C言語などから選択し、問題文を解いてスキルアップを目指しましょう。</p>
        <hr>
        <p class="mb-0"></p>
      </div>    
      <!-- 問題一覧（タブ） -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link <%= @level['D'] %>" aria-current="page" href="?level=D">難易度D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['C'] %>" href="?level=C">難易度C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['B'] %>" href="?level=B">難易度B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['A'] %>" href="?level=A">難易度A</a>
        </li>
      </ul>      
      <!-- 問題一覧（リスト） -->
      <ul class="list-group rounded-list">
        <% @questions.each do |q| %>
        <li>
          <div class="study-task-list" task="<%= q.task %>">
            <div class="row">
              <div class="col-7">
                <a class="study-task" href="/study?no=<%= q.id %>"><%= q.outline %></a>
              </div>
              <div class="col-4 justify-content-between">
                課題更新日: <%= q.up_date.strftime('%Y/%m/%d') %>
                <% if q.status == 0 %>
                <span class="badge bg-primary study-status">OK</span>
                <% elsif q.status == 1 %>
                <span class="badge bg-danger study-status">NG</span>
                <% elsif q.submitted == 1 %>
                <span class="badge bg-warning study-status">提出済</span>
                <% end %>
              </div>
              <div class="col-1">
                <% if auth_edit(q.cr_user) %>
                <a href="/admin/create_and_edit?no=<%= q.id %>">EDIT</a>
                <% end %>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>

      <% if auth_create_and_check %>
      <a href="/admin/create_and_edit">問題作成</a> &nbsp;
      <a href="/admin/check">解答チェック</a>
      <% end %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>