<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>簡易言語学習サイト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="common.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">簡易言語学習サイト</a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @userid %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pt-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link <%= @level['D'] %>" aria-current="page" href="?level=D">難易度D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['C'] %>" href="?level=C">難易度C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['B'] %>" href="?level=B">難易度B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= @level['A'] %>" href="?level=A">難易度A</a>
        </li>
      </ul>      
      <table class="table">
        <thead>
          <tr>
            <th>課題</th><th>難易度</th><th>問題</th><th>更新日</th><th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |q| %>
          <tr>
            <td><%= q.task %></td><td><%= q.level %></td>
            <td><a href="/study?no=<%= q.id %>"><%= q.outline %></a></td>
            <td><%= q.up_date.strftime('%Y/%m/%d') %></td>
            <td>
              <div class="text-right">
                <% if q.status == 0 %>
                <span class="badge bg-primary study-status">OK</span>
                <% elsif q.status == 1 %>
                <span class="badge bg-danger study-status">NG</span>
                <% elsif q.submitted == 1 %>
                <span class="badge bg-warning study-status">提出済</span>
                <% end %>
                <% if auth_edit(q.cr_user) %>
                &nbsp; <a href="/admin/create_and_edit?no=<%= q.id %>">EDIT</a>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if auth_create_and_check %>
      <a href="/admin/create_and_edit">問題作成</a> &nbsp;
      <a href="/admin/check">解答チェック</a>
      <% end %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>